/*  PRÁCTICA FINAL MARTA DE LUIS
    ARCHIVO CSS  */

h1{
    color: blue;
    text-shadow: 1px 1px 2px yellow;
    text-align: center;
}
input[type=text]{
    background-color: yellow;
}
legend{
    background-color: red;
    color: white;
}
fieldset{
    background-color: aqua;
    border: 0px;
    border-radius: 5px;
    margin: 10px;;
}
.alertas{
    background-color: pink;
    width: 100px;
}
button{
    margin: 2px;
    border-radius: 5px;
}
p{
    display: inline-block;
    margin: 0px 5px;
}
#resultado{
    height: 200px;
    padding: 10px;
    font-size: xx-large;
}
.correcto{
    color: green;
}
.incorrecto{
    color: red;
}