button{
    margin: 10px;
}

form{
    margin-left: 20px;
}

#volverdiv{
    display: flex;
    justify-content: center;
}

h1{
  text-align: center;
  margin: 20px;
  font-weight: bold;
  font-size: xx-large;
}
.label{
  font-weight: bolder;
}
section {
  display: table;
}
form{
  margin: 20px;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}